:root{
    --my-black: #121213;
    --my-blue: #3232db;
    --my-lightter-black: #1d1d20;
    --my-light: #26262c;
    --my-highlited: rgb(48, 48, 57);
    --my-gray: rgb(86, 86, 101);
    --my-white: #d4d4e4;
}
*{
    color: var(--my-white);
    font-family: "Comfortaa", sans-serif;
}
body{
    background-color: var(--my-black);
}
.selected{
    opacity: 0.5;
}
.authForm{
    width: 600px; height: 600px;
    margin: auto;
}
input{
    width: 100%;
    background-color: var(--my-lightter-black);
    border: none;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    font-size: 2.5vh;
    margin-right: 5px;
    padding: 10px;
    outline: none;
    transition-duration: 0.3s;
}
input:focus{
    background-color: var(--my-highlited);
}
label{
    font-size: 25px;
}
h1{
    color: var(--my-white);
}
#button{
    background-color: var(--my-blue);
    font-size: 25px;
}
.left , .right{
    width: 100%; height: 40vh;
    background-color: var(--my-lightter-black);
    border-radius: 10px;
    align-content: start;
    margin-bottom: 20px;
}
.bottom{
    height: 30vh;
    overflow-y: scroll;
    scrollbar-color: var(--my-black) var(--my-light);
}
.delete{
    background-color: red;
    border-radius: 100%;
    height: 40px; width: 40px;
    text-align: center;
    line-height: 1px;
}
.edit{
    background-color: rgb(48, 169, 12);
    border-radius: 100%;
    height: 40px; width: 40px;
    text-align: center;
    line-height: 1px;
    border: none;
}
.my-page-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top{
    font-size: 2.5vh;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: var(--my-blue);
    border-radius: 10px 10px 0 0;
    color: var(--my-white);
}
.my-page-block{
    height: 50px;
    color: var(--my-white);
    font-size: 2.5vh;
    transition-duration: 0.3s;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    cursor: grab;
}
.insert{
    margin-top: 50px;
    width: auto; height: 80vh;
    background-color: var(--my-lightter-black);
    border-radius: 10px;
}
.top-insert{
    height: 50px;
    background-color: var(--my-blue);
    border-radius: 10px 10px 0 0;
    color: var(--my-white);
}
.top-insert>p{
    font-size: 3vh;
}
.bottom-insert>form{
    width: 100%;
}
.bottom-insert>form>input{
    margin: auto;
    color: var(--my-white);
    background-color: var(--my-light);
    width: 90%; height: 6vh;
}
.bottom-insert>form>label{
    line-height: 50px;
    text-align: center;
    margin: 20px auto;
}
.bottom-insert>form>input:focus{
    background-color: var(--my-highlited);
}
#btn{
    background-color: var(--my-blue);
    width: 50%; height: 6vh;
    border-radius: 50px;
    margin-top: 40px;
}
.invisible{
    display: none;
}
.bottom{
    background-color: var(--my-lightter-black);
}
.my-margin{
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
span{
    color: var(--my-gray);
}